body{
    background-color: #fdfdfd;
    font: open-sans;
}

.navbar .navbar-nav {
    display: flex;
    
}

.navbar .navbar-nav button{
    justify-self: flex-end;
    
}

#header{
    line-height: 2;
}

#header .col-7{
    padding-right: 0;
    font-size: 38px;
}

#header h1{
    font-weight: 700;
}

#header .col-5{
    margin-top: auto;
    margin-bottom: auto;
}